# virtual env
venv/

# mac
.DS_Store

# mlflow
mlruns/
mlflow.db

# Ignore prepared data and models
data/prepared/
models/
mlflow.db
mlruns/

# python cache
__pycache__/
*.pyc

# images 
*.png

# jupyter
.ipynb_checkpoints/
**/.ipynb_checkpoints/

